@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: black;
    font-family: 'Rampart One', cursive;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top left, crimson, orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 60px;
    background: white;
    box-shadow: black  0 0 10px 2px;
    position: fixed;
    top: 0;
    z-index: 10;
}
.game-desk-background {
    width: 80%;
    height: 90%;
    background: whitesmoke;
    opacity: .2;
    position: fixed;
    z-index: 0;
    border-radius: 5%;
    display: none;
}
.game-desk-background-white {
    width: 70%;
    height: 90%;
    position: absolute;
    display: flex;
    border-radius: 5%;
}

.background-white-left {
    width: 50%;
    height: 100%;
    background-color: white;
    opacity: .3;
    z-index: 0;
    transition: 1.25s;
    
}
.background-white-right {
    width: 50%;
    height: 100%;
    background-color:white;
    opacity: .3;
    z-index: 0;
    transition: .25s;
    
}

.game-desk {
    width: 90%;
    height: 90%;
    overflow: hidden;
    z-index: 1;
}

.top {
    height: 25%;
    border: solid white 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
}
.center {
    margin: auto;
    width: 85%;
    height: 50%;
    
}
.bottom {
    height: 25%;
    border: solid white 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    border-radius: 20px;
    
}

/*--------------------------------------------------------------*/

/*top*/

.top-left,.top-right {
    font-size: 2.75em;
    color: black;
}
.total {
    width: 70%;
    margin-top: 45vh;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 50%;
}
.total1,.total2 {
    font-size: 4.25em;
    color: black;
}

/*center*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-kostka {
    width: 100px;
    height: 100px;
    background-color: white;
    background-image: none;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color:rgba(0,0,0, .85);
}

.rotate {
    transform: rotate(360deg);
    transition: 1.5s;
}

.dontrotate {
    transform: rotate(-360deg);
    transition: 1.5s;
}

/*-------------------------*/



/*bottom*/
.bottom-center {
    width: 28%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    z-index: 5;
}
.bottom-center-play,.bottom-center-reset {
    width: 100px;
    height: 25px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 8, 0, 1);
    border: solid white 2px;
    font-size: .9em;
    letter-spacing: .5px;
    font-family: serif;
    font-weight: bolder;
    cursor: pointer;
    transform: scale(110%);
}

.bottom-center-play {
    transform: scale(150%);
}

.bottom-center-play:hover {
    transform: scale(165%);
    font-size: .9em;
}
.bottom-center-reset:hover {
    transform: scale(115%);
    font-size: .9em;
}

.bottom-left,.bottom-right {
    width: 160px;
    height: 135px;
    font-family: serif;
    font-size: 1.5em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: .8;
}

li{
    height: 35%;
    list-style: none;
}